# Build folders
bin/
obj/

# SQLite database
*.db
*.db-shm
*.db-wal

# Uploaded images
wwwroot/images/

# User specific files
.vscode/
*.user
*.suo

# Logs
*.log

# Publish output
publish/

# Temp
*.tmp